@CHARSET "UTF-8";


/* 左边菜单 */
.top{height:8%;background-color: #000000;}
.left{background-color:#666666;top:8%;position: absolute !important}
.left>ul>li{line-height:30px}
.left>ul>li:not(:first-of-type){cursor:pointer;}
.left>ul>li:first-of-type{text-align: right}
.left>ul>li:first-of-type>span{cursor: pointer;}
.left>ul>li>a{padding-left:15%;display:block;}
.left>ul>li>ul>li>a{padding-left:30%;display: block;}
.left ul ul li{line-height:25px}
.left>ul>li:not(:last-of-type){border-bottom:1px solid gray;}
.left ul a:hover{background-color:#999966;color:#f7f7f7;}
.drop-icon{float:right;color:#bdbdbd;}
.left a i{margin-right:5px;}
.left a{color:#f7f7f7;font-weight: bold}
.left ul ul a{color:#bdbdbd;font-weight: normal}
.left ul ul{display:none;}
.user-info{float:right;margin-right:5%;color:#f7f7f7;margin-top:1%;}
.user-info li{margin-right: 5px}
.user-info li a{color:#eee;text-decoration:none;cursor:pointer;}
.menu-active{background-color:#999966}
.menu-active a{font-weight:bold !important;color:#fff !important}

/*主页面 */
.main{margin-top:4%;}
.breadcrumbs{font-size:20px;margin:10px 0 15px 0}

/*欢迎首页*/
.page-header{border:0}
.welcome i{margin-right:10px}

/*后台用户主页  */
/* .profile{padding-left:20px} */
.user-avatar{border:1px solid red;height:300px;width:300px;margin-top:42px;margin-right:20px}
.other-table, .edit-form{margin-top:40px}
#edit{padding-top:40px}


/*分类  */
.category-list div:first-of-type i{margin-right:3px}
.category-list>div{margin-bottom:10px}
.select-all label{margin:0}
.select-all span{cursor:pointer}
.th-category-name{padding-left:70px !important}
.td-category-name input{display:inline-block;position:absolute;left:35px}
.td-category-name a{display:inline-block;position:absolute;left:65px;cursor:pointer;z-index:9999;color:#000000}
.td-category-name span{display:inline-block;position:absolute;left:85px;}
/* .sub-category-name-1{padding-left:25px;background-image:url('../images/bg-tb.gif');background-position:-381px -86px}*/
/*.sub-category-name-2{padding-left:50px;background-image:url('../images/bg-tb.gif');background-position:-360px -86px} */

.sub-category-name-1{padding-left:35px;}
.sub-category-name-2{padding-left:70px;}
.sub-category-i-1{left:100px !important}
.sub-category-i-2{left:135px !important}


.category-head{font-weight:bold;border:1px solid #ddd;height:40px;line-height:40px;margin-bottom:0 !important;position:relative}
.category-head>div:nth-of-type(1){width:40%;padding-left:70px}
.category-head>div:nth-of-type(2){width:20%;padding-left:10px}
.category-head>div:nth-of-type(3){width:20%;padding-left:10px}
.category-head>div:nth-of-type(5){left:40% !important}
.category-head>div:nth-of-type(6){left:60% !important}
.category-head>div:nth-of-type(7){left:80% !important}

.category-head div{display:inline-block}
.category-list ul{list-style-type:none;padding:0}
.category-list ul li span{display:inline-block}

.category-body{position:relative}
.category-body li>{width:100%}
.category-body li>span:nth-of-type(1){width:40%}
.category-body li>span:nth-of-type(2){width:20%;padding-left:10px}
.category-body li>span:nth-of-type(3){width:20%;padding-left:10px}
.category-body li>span:nth-of-type(4){width:20%;padding-left:10px}

.category-body li>span:nth-of-type(2) i{cursor:move}
.category-body li>span:nth-of-type(4) a{margin:0 5px}
.category-body li{padding:10px 0;border:1px solid #ddd;}/*都需要动态生成才行，难度大啊*/
/* .category-body ul{margin-top:10px} */
.category-body li>span:first-of-type i{cursor:pointer;display:inline-block;width:20px;margin:0 10px 0 20px;text-align:center}
.category-line{height: 100%;width: 1px;position: absolute;background-color: #ddd;display: inline-block;float: left;top: 0;}
.category-body>div:nth-of-type(1){left:40%}
.category-body>div:nth-of-type(2){left:60%}
.category-body>div:nth-of-type(3){left:80%}
.category-body>ul> li input{position:absolute;left:16px}
.category-body>ul>li li{display:none}
.category-sub-0>li>span:first-of-type{padding-left:20px}
.category-sub-1>li>span:first-of-type{padding-left:40px}
.category-sub-2>li>span:first-of-type{padding-left:60px}

.sort-moving{background-color:#ddd;width:100%;height:40px}


/*品牌  */
.before-table{margin-bottom:15px}
.action-table{height:35px}
.action-href a{margin:0 5px}
.pagination{margin:0}
.pagination li{cursor:pointer}
.record-number{line-height:36px}
.per-page{display:inline-block;margin-right:10px}
#record-number span{font-size:18px;font-weight:bold;margin:0 2px}
.search-icon{right:20px;position:relative;cursor:pointer}
.goto{display:inline-block;float:right;margin-left:5px;margin-top:6px;line-height:18px}
.table .my-checkbox{margin-right:30px;display:inline}
.action-table i{margin-right:5px}
.brand-logo-img{margin-left:0}


/*后台尾部  */
.foot{text-align:center;height:50px;line-height:50px;width:100%;position:absolute}

/*加载中  */
#bgDiv{position:fixed;width:100%;height:100%;background-color:gray;top:0;left:0;z-index:9998;opacity:0.4}
#loadingImg{position:fixed;top:20%;left:50%;z-index:9999}
.saveSuccess{font-size:20px;font-weight:bold;color:red}